@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e4e4e4;
}

/* HOMEPAGE */

.logo {
  position: absolute;
  height: 100px;
  display: flex;
  left: 50%;
  margin-left: -245px;
  margin-top: 20px;
}

.link {
  font-size: 20px;
  color: #9e8e00;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.5s;
}

.link:hover {
  color: #844fbd;
  font-size: 21px;
}

.links-home {
  position: absolute;
  left: 50%;
  margin-left: -555px;
  bottom: 40%;
  background-color: #e5df88;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-radius: 20px;
  width: 1100px;
}
/* NAVBAR */

.logo-nav {
  height: 70px;
  margin-left: 20px;
}

.navbar {
  background-color: #e5df88;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.links-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link2 {
  font-size: 15px;
  color: #9e8e00;
  text-decoration: none;
  text-align: center;
  padding: 0 35px;
  transition-duration: 0.2s;
}

.link2:hover {
  color: #844fbd;
}

.surprise {
  color: #389393;
}

/* FUNDOS COLORIDOS NAS CATEGORIAS */

.purple {
  width: 150px;
  height: 50px;
  margin: 45px 80px;
  background-color: #a37eba;
  text-decoration: none;
  color: #7d5696;
  border-radius: 10px;
  text-align: center;
  padding-top: 25px;
  transition-duration: 0.5s;
}

.purple:hover {
  width: 155px;
  height: 55px;
  font-size: 19px;
  background-color: #7d5696;
  color: #a37eba;
}

.blue {
  width: 150px;
  height: 50px;
  margin: 35px 80px;
  background-color: #8ec6c5;
  text-decoration: none;
  color: #389393;
  border-radius: 10px;
  text-align: center;
  padding-top: 27px;
  transition-duration: 0.5s;
}

.blue:hover {
  width: 155px;
  height: 55px;
  font-size: 19px;
  background-color: #389393;
  color: #8ec6c5;
}

/* BY TYPE */

.firstRow {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.secondRow {
  display: flex;
  justify-content: center;
}

.thirdRow {
  display: flex;
  justify-content: center;
}

/* BY PARTICIPANTS */

.link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 4%;
}

.participants-link img {
  width: 100px;
  height: 100px;
  transition-duration: 0.5s;
}

.howmany-participant {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  color: #a37eba;
  font-family: "Poppins", sans-serif;
}
.participants-link img:hover {
  transform: scale(1.5);
}

.random {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  color: #389393;
  margin-bottom: 7%;
}

.random-p {
  background-color: #8ec6c5;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

/* BY PRICE */

.money {
  color: #8ec6c5;
  text-decoration: none;
  font-size: 70px;
}

.byprice-links {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.free-text {
  text-decoration: none;
  color: #389393;
  font-size: 18px;
  font-weight: 500;
  background-color: #8ec6c5;
  border-radius: 15px;
  padding: 10px;
  margin-top: 100px;
  transition-duration: 0.5s;
}

.free-text:hover {
  background-color: #389393;
  color: #8ec6c5;
}

.byprice {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  margin-top: 13%;
  left: 19%;
}

/* RANDOM */

.random {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  color: #389393;
  margin-bottom: 7%;
}

.random-p {
  background-color: #8ec6c5;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.external-link {
  color: #e5df88;
}

.external-link:hover {
  color: #fcec09;
}

.joke {
  margin-top: 65px;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 48.6%;
  border-style: none;
  background-color: #e5df88;
  color: #9e8e00;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 30px;
}

.joke-btn-answer:hover .joke-answer {
  display: block;
}

.joke p {
  color: #8ec6c5;
  font-size: 15px;
}

.joke-btn-answer {
  height: 110px;
}

.joke-answer {
  margin-top: 90px;
  display: none;
}

/* ACCESSIBILITY */

.slidecontainer {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 35%;
}

.access {
  display: flex;
  justify-content: center;
  align-items: center;
}

.most {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  top: 60%;
  padding: 2px;
}

.easy {
  width: 70px;
}

.most p {
  text-align: center;
  color: #e4e4e4;
  border-radius: 10px;
  font-size: 10px;
  background-color: #b1b1b1;
  padding: 0 4px;
}

.hard {
  width: 70px;
}

.hard p {
  margin-left: 300px;
  text-align: center;
  color: #e4e4e4;
  border-radius: 10px;
  font-size: 10px;
  background-color: #b1b1b1;
  padding: 0 4px;
}

/* GO BACK BUTTON */

.go-back {
  margin-top: 40px;
  border-style: none;
  background-color: #e5df88;
  color: #9e8e00;
  border-radius: 10px;
  padding: 5px 10px;
}

.go-back:hover {
  background-color: #e0d640;
}

/* SLIDER */

.slider {
  -webkit-appearance: none;
  width: 1000px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4db9b8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4db9b8;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider-numbers {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1080px;
  top: 50%;
  color: #b1b1b1;
}

.go-button {
  position: absolute;
  margin-top: 28%;
  left: 48%;
  border-style: none;
  background-color: #e5df88;
  color: #3f324d;
  border-radius: 10px;
  padding: 5px 10px;
}

/* YOUTUBE PLAYLIST */
.youtube {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 50px;
}
